.container{
    width: 90%;
    margin: auto;
}
 
.text h1{
    text-align: center;
    margin-top: 30px;
    color:rgb(89, 85, 85);
}
.text h1 span{
    color: rgb(255, 14, 231);
}
.text p{
    margin: 20px;
    color: rgb(89, 85, 85);
    font-size: 17px;
}
.backBtn{
  display: flex;
  justify-content: center;
}
.backBtn button{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 8px;
    background-color: rgb(255, 14, 231);
    color: white;
    font-size: 18px;
    text-align: center;
    
}
 
